:root{
  --iris: #4D5AE5;
  --ocean: #404BBF;
  --slate: #434455;
  --light_slate: #8E8F99;
  --navy_blue: #2E2F42;
  --white: #fff;
  --cloude: #F4F4FD;
  --gray: #2E2F42;
  --dairy: #FCFCFC;
  --navy_blue_modal: #2E2F42;
  --cornflower: #E7E9FC;
  --green: #31D0AA;
}


body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  background-color: var(--white);
}

ul{
    list-style: none;
}

button{
  cursor: pointer
}

.header_medium{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

.header_small{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.btn_txt{
 font-weight: 500;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.04em;
}

.txt_small{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
