.hero {
  background-color: var(--navy-blue);
}

.title {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero_btn{
  background-color: var(--iris);
  color: var(--white);
}
